$primary_bg_color : #a3dbed;
$primary_bg_color_input: #fff;
$primary_color_label: #fff;
$primary_color_border: #000;
$primary_color_error: #ff0000;
$primary_bg_color_button: #bbbaba;
$primary_color_button: #fff;
$primary_color_link: blue;