.login_form {
    //background: #a3dbed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    margin: auto;

    [id$="_form"] {
        display: flex;
        flex-direction: column;
        //   width: auto;
        //   height: auto;
        margin: auto;
    }

    [id$="_fieldset"] {
        display: flex;
        flex-direction: column;
        background: #a3dbed;
        border: none;
        border-radius: 20px;
        width: 500px;
        height: 300px;

        [class$="_label"] {
            position: relative;
            width: 70px;
            height: 28px;
            margin-left: 50px;
            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            color: #ffffff;
        }
        [class$="_field"] {
            position: relative;
            width: 400px;
            height: 36px;
            margin-left: 50px;
            background: #ffffff;
            border: 2px solid #000000;
            box-sizing: border-box;
            font-family: "Roboto";
            font-style: normal;
            font-size: 24px;
        }
        .error_message {
            width: 208px;
            height: 19px;
            margin: 11px auto 10px auto;
            text-align: center;

            font-family: "Roboto";
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            color: #ff0000;
        }

        .submit_button {
            width: 140px;
            height: 45px;
            margin: 10px auto auto auto;
            background: #bbbaba;
            border-radius: 10px;

            font-family: "Roboto";
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #ffffff;

            &:disabled {
                color: darken($color: #fff, $amount: 10);
                background: darken($color: #bbbaba, $amount: 10);
            }
        }
        [class$="_button_text"] {
            width: 70px;
            height: 28px;
        }
        .bottom_form {
            display: flex;
            justify-content: space-between;
            margin: auto 50px 23px 50px;
        }
    }

    .external_link {
        width: auto;
        height: 19px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        text-decoration-line: underline;
        &:hover {
            cursor: pointer;
            color: blue;
        }
    }
}
